$base-size: 16;

// Colours
$colour-green: #dcff3c;
$colour-plum: #321432;
$colour-white: #fff;
$colour-light-grey: #f7f7f2;
$colour-charcoal: rgb(50, 20, 50);
$colour-red: #e53e3e;
$colour-light-red: #fef2f2;
